@import url('./__cards-list/github-commits__cards-list.css');
@import url('./__gradient/github-commits__gradient.css');
@import url('./__gradient/_location/_left/github-commits__gradient_location_left.css');
@import url('./__gradient/_location/_right/github-commits__gradient_location_right.css');
@import url('./__wrapper/github-commits__wrapper.css');
@import url('./__slide/github-commits__slide.css');
@import url('./__button/github-commits__button.css');
@import url('./__button/_type/_next/github-commits__button_type_next.css');
@import url('./__button/_type/_prev/github-commits__button_type_prev.css');
@import url('./__pagination/github-commits__pagination.css');
@import url('./__pagination-bullet/__pagination-bullet.css');
@import url('./__pagination-bullet/_type/_active/github-commits__pagination-bullet_type_active.css');

.github-commits{
  display: block;
  padding: 72px 0 80px 0;
  background-color: #F5F6F7;
}
