@import url(./__element/breadcrumb__element.css);
@import url(./__link/breadcrumb__link.css);

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media only screen and (max-width: 710px) {
  .breadcrumb {
    display: none;
  }
}
