.header_theme_white{
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header_theme_white .header__link:hover {
  color: #ffffff;
}

.header_theme_white .header__link_active{
  color: #ffffff;
  border-color: #ffffff;
}
