.search__title{
    margin-top: 80px;
    margin-bottom: 0;
    font-family: 'Roboto Slab', 'Helvetica NeueCyr', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #ffffff;
}
