.news__not-found{
  content: url('../../../images/not-found.svg');
  width: 96px;
  height: 96px;
  margin: 0 auto;
  display: block;
}

@media only screen and (max-width: 1025px) {
  .news__not-found {
    width: 64px;
    height: 64px;
  }
}
