.news-card__media {
  margin: 0;
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-family: 'Roboto Slab', 'Helvetica NeueCyr', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}
