.search__button{
    border-radius: 100px;
    padding: 21px 54px;
    background-color: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color .4s;
}

.search__button:hover{
    background-color: #347EFF;
}

.search__button:active{
    background-color: #2A65CC;
}

@media only screen and (max-width: 1025px) {
  .search__button {
    padding: 17px 50px;
  }
}

@media only screen and (max-width: 710px) {
  .search__button {
    position: relative;
    margin-top: 22px;
    width: 100%;
    padding: 17px 113px;
  }
}
