@import url(./__title/search__title.css);
@import url(./__subtitle/search__subtitle.css);
@import url(./__form/search__form.css);
@import url(./__form-error/search__form-error.css);
@import url(./__input/search__input.css);
@import url(./__button/search__button.css);

.search{
    max-width: 608px;
    margin: 0 auto;
}


@media only screen and (max-width: 1025px) {
  .search {
    max-width: 452px;
  }
}

@media only screen and (max-width: 710px) {
  .search {
    width: calc(100% - 32px);
  }
}
