@import url(./__copyright/footer__copyright.css);
@import url(./__nav/footer__nav.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__social-links/footer__social-links.css);
@import url(./__social-link/footer__social-link.css);
@import url(./__social-link/_icon_github/footer__social-link_icon_github.css);
@import url(./__social-link/_icon_facebook/footer__social-link_icon_facebook.css);

.footer{
  padding-top: 30px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
