.news__title-result{
  font-family: 'Roboto Slab', 'Helvetica NeueCyr', Arial, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #1A1B22;
  margin-top: 24px;
  margin-bottom: 0;
}

@media only screen and (max-width: 1025px) {
  .news__title-result{
    margin-top: 16px;
  }
}

