.icon-feature__title{
  font-family: 'Roboto', 'Helvetica NeueCyr', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #1A1B22;
  margin-top: 0;
  margin-bottom: 0;
}
