.github-commits__gradient {
  z-index: 9;
  width: 88px;
  height: 288px;
  position: absolute;
  top: 0;
}

@media only screen and (max-width: 1025px) {
  .github-commits__gradient{
    display: none;
  }
}
