@import url('./_line/_bottom/diagram-grid_line_bottom.css');
@import url('./__scale/diagram-grid__scale.css');
@import url('./__text-markup/diagram-grid__text-markup.css');
@import url('./__day/diagram-grid__day.css');

.diagram-grid {
  display: grid;
  grid-template-columns: 56px 1fr;
  grid-gap: 56px 48px;
}

@media only screen and (max-width: 1025px) {
  .diagram-grid {
    grid-gap: 56px 60px;
  }
}

@media only screen and (max-width: 710px) {
  .diagram-grid {
    grid-gap: 24px 30px;
  }
}
