.diagram__title {
  font-family: 'Roboto Slab', 'Helvetica NeueCyr', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin-bottom: 48px;
  margin-top: 0;
}

@media only screen and (max-width: 710px) {
  .diagram__title {
    font-size: 22px;
    margin-bottom: 16px;
  }
}
