.news__description{
  text-align: center;
  color: #B6BCBF;
  max-width: 356px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media only screen and (max-width: 1025px) {
  .news__description{
    margin-top: 12px;
  }
}

